$white:#fff;
$bg-color:#f1f5f9;
$primary-color:#03062F;
$placeholder-color:#505050;
$blue:#2783F3;
$blue1:#549df5;
$grey:rgba(3, 6, 47, 0.7);

$font-family: 'interregular';
$font-bold:'interbold';
$font-semibold: 'intersemi_bold';

@mixin form-input{
    padding:12px !important;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    font-size: 16px !important;
    color:$grey;
    width:100%;
    &:focus{
        outline: none;
        box-shadow:none;
    }
}