@import "fonts";
@import "variables";


a{
    text-decoration: none;
}

body{
    font-family: $font-family;
    background-color: $bg-color;
    .banner-section{
        background: #150b6c;
        position:relative;
        .logo{
            padding: 28px 0px;
            position: relative;
            @media screen and (max-width:767px){
                text-align: center;
            }
        }
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:30px 0px 14px 0px;
            position: relative;
            @media screen and (max-width:991px){
                padding-bottom: 60px;
            }         
            @media screen and (max-width:767px){
                display: block;
                padding-bottom: 90px;
            }
            .detail{
                @media screen and (max-width:767px){
                    text-align: center;
                }
                h1{
                    color:$white;
                    font-size: 40px;                    
                    font-family: $font-semibold;
                    line-height: 53px;
                    letter-spacing: 0.4px;
                    width: 420px;
                    margin-bottom: 24px;
                    @media screen and (max-width:991px){
                        width:300px;
                        font-size: 28px;
                        line-height: 40px;
                    }
                    @media screen and (max-width:767px){
                        width:100%;                       
                    }
                }
                h2{
                    color: $white;
                    font-size: 17px;
                    opacity: 0.7;
                    line-height: 28px;
                    width: 380px;
                    margin-bottom: 32px;
                    @media screen and (max-width:991px){
                        width:300px;
                        font-size: 17px;
                    }
                    @media screen and (max-width:767px){
                        width:100%;                        
                    }
                }
            }
            .slider{
                width:400px;
                @media screen and (max-width:991px){
                    width:300px;
                }
                @media screen and (max-width:767px){
                    margin: auto;
                    margin-top:40px;
                }
                .carousel-indicators{
                    bottom:-80px;
                    button{
                        width:12px;
                        height:12px;
                        border-radius: 50%;
                    }
                }
                img{
                    max-width: unset;
                    width:100%;
                }
            }
        }
        .shape {
            position: absolute;
            left: 0;
            right: 0;           
            img{
                max-width: unset;
                width: 100%;
            }
        }
        .shape1{
            background: rgb(21,11,108);
            background: linear-gradient(0deg, rgba(21,11,108,0) 0%, rgba(3,6,48,1) 100%);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }
        .shape2{
            position: absolute;
            bottom:-190px;
            @media screen and (max-width:991px){
                bottom: -140px;
                width: 170px;
            }
        }
    } 
    .form-section{        
        padding:300px 0px 100px 0px;
        @media screen and (max-width:991px){
            padding-top:200px;
        }
        .box{
            padding: 64px;
            background-color: $white;
            width:768px;
            margin: auto;
            box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10), 0px 23px 23px 0px rgba(0, 0, 0, 0.09), 0px 51px 31px 0px rgba(0, 0, 0, 0.05), 0px 91px 36px 0px rgba(0, 0, 0, 0.01), 0px 142px 40px 0px rgba(0, 0, 0, 0.00);
            border-radius: 8px;
            @media screen and (max-width:991px){
                width:80%;
            }
            @media screen and (max-width:767px){
                width:90%;
                padding:50px 30px;
            }
            .header{
                text-align: center;
                font-size: 40px;
                font-family: $font-bold;
                color:$primary-color;
                line-height: 48px;
                margin-bottom: 16px;
            }
            .sub-header{
                color:$grey;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 48px;
                text-align: center;
            }
           form{
                .group{
                    margin-bottom: 24px;
                    label{
                        font-size: 16px;                  
                        line-height: 24px;
                        color: $primary-color;
                        display: block;
                        margin-bottom: 5px;
                    }
                    input{
                    @include form-input;                   
                    }
                    select{
                        @include form-input;   
                        option{
                            padding:5px 0px !important;
                        }  
                    }
                    textarea{
                        @include form-input;   
                    }
                }
                button{
                    border:none;                    
                }
           }
        }
    }
    .primary-btn{
        background-color: $blue;
        color:$white;
        padding: 12px 20px;
        font-family: $font-semibold;
        display: inline-block;
        font-size: 15px;
        border-radius: 4px;
        line-height: 24px;
        transition: all 0.3s;    
        &:hover{
            background-color: $blue1;
            transition: all 0.3s;
        }    
    }   
}

