@font-face {
  font-family: 'interregular';
  src: url("../fonts/inter-regular-webfont.woff2") format("woff2"), url("../fonts/inter-regular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'interbold';
  src: url("../fonts/inter-bold-webfont.woff2") format("woff2"), url("../fonts/inter-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intersemi_bold';
  src: url("../fonts/inter-semibold-webfont.woff2") format("woff2"), url("../fonts/inter-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: "interregular";
  background-color: #f1f5f9;
}

body .banner-section {
  background: #150b6c;
  position: relative;
}

body .banner-section .logo {
  padding: 28px 0px;
  position: relative;
}

@media screen and (max-width: 767px) {
  body .banner-section .logo {
    text-align: center;
  }
}

body .banner-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 14px 0px;
  position: relative;
}

@media screen and (max-width: 991px) {
  body .banner-section .content {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  body .banner-section .content {
    display: block;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  body .banner-section .content .detail {
    text-align: center;
  }
}

body .banner-section .content .detail h1 {
  color: #fff;
  font-size: 40px;
  font-family: "intersemi_bold";
  line-height: 53px;
  letter-spacing: 0.4px;
  width: 420px;
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  body .banner-section .content .detail h1 {
    width: 300px;
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  body .banner-section .content .detail h1 {
    width: 100%;
  }
}

body .banner-section .content .detail h2 {
  color: #fff;
  font-size: 17px;
  opacity: 0.7;
  line-height: 28px;
  width: 380px;
  margin-bottom: 32px;
}

@media screen and (max-width: 991px) {
  body .banner-section .content .detail h2 {
    width: 300px;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  body .banner-section .content .detail h2 {
    width: 100%;
  }
}

body .banner-section .content .slider {
  width: 400px;
}

@media screen and (max-width: 991px) {
  body .banner-section .content .slider {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  body .banner-section .content .slider {
    margin: auto;
    margin-top: 40px;
  }
}

body .banner-section .content .slider .carousel-indicators {
  bottom: -80px;
}

body .banner-section .content .slider .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

body .banner-section .content .slider img {
  max-width: unset;
  width: 100%;
}

body .banner-section .shape {
  position: absolute;
  left: 0;
  right: 0;
}

body .banner-section .shape img {
  max-width: unset;
  width: 100%;
}

body .banner-section .shape1 {
  background: #150b6c;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 11, 108, 0)), to(#030630));
  background: linear-gradient(0deg, rgba(21, 11, 108, 0) 0%, #030630 100%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

body .banner-section .shape2 {
  position: absolute;
  bottom: -190px;
}

@media screen and (max-width: 991px) {
  body .banner-section .shape2 {
    bottom: -140px;
    width: 170px;
  }
}

body .form-section {
  padding: 300px 0px 100px 0px;
}

@media screen and (max-width: 991px) {
  body .form-section {
    padding-top: 200px;
  }
}

body .form-section .box {
  padding: 64px;
  background-color: #fff;
  width: 768px;
  margin: auto;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1), 0px 23px 23px 0px rgba(0, 0, 0, 0.09), 0px 51px 31px 0px rgba(0, 0, 0, 0.05), 0px 91px 36px 0px rgba(0, 0, 0, 0.01), 0px 142px 40px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1), 0px 23px 23px 0px rgba(0, 0, 0, 0.09), 0px 51px 31px 0px rgba(0, 0, 0, 0.05), 0px 91px 36px 0px rgba(0, 0, 0, 0.01), 0px 142px 40px 0px rgba(0, 0, 0, 0);
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
  body .form-section .box {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  body .form-section .box {
    width: 90%;
    padding: 50px 30px;
  }
}

body .form-section .box .header {
  text-align: center;
  font-size: 40px;
  font-family: "interbold";
  color: #03062F;
  line-height: 48px;
  margin-bottom: 16px;
}

body .form-section .box .sub-header {
  color: rgba(3, 6, 47, 0.7);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 48px;
  text-align: center;
}

body .form-section .box form .group {
  margin-bottom: 24px;
}

body .form-section .box form .group label {
  font-size: 16px;
  line-height: 24px;
  color: #03062F;
  display: block;
  margin-bottom: 5px;
}

body .form-section .box form .group input {
  padding: 12px !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  font-size: 16px !important;
  color: rgba(3, 6, 47, 0.7);
  width: 100%;
}

body .form-section .box form .group input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .form-section .box form .group select {
  padding: 12px !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  font-size: 16px !important;
  color: rgba(3, 6, 47, 0.7);
  width: 100%;
}

body .form-section .box form .group select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .form-section .box form .group select option {
  padding: 5px 0px !important;
}

body .form-section .box form .group textarea {
  padding: 12px !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  font-size: 16px !important;
  color: rgba(3, 6, 47, 0.7);
  width: 100%;
}

body .form-section .box form .group textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .form-section .box form button {
  border: none;
}

body .primary-btn {
  background-color: #2783F3;
  color: #fff;
  padding: 12px 20px;
  font-family: "intersemi_bold";
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
  line-height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .primary-btn:hover {
  background-color: #549df5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=style.css.map */